@model string;
@{
    ViewData["Title"] = "UserMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model</h3>
<br />
<a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index">Return to home page</a>

